@import './fonts.scss';
// fonts
.j-font-hind-light {
    font-family: 'hind-light';
}

.j-font-hind {
    font-family: 'hind';
}

.j-font-hind-bold {
    font-family: 'hind-bold';
}

.j-font-hind-semibold {
    font-family: 'hind-semibold';
}

.j-font-hind-medium {
    font-family: 'hind-medium';
}