@font-face {
    font-family: 'hind-light';
    src: url('../fonts/Hind-Light.ttf');
}

.font-hind-light {
    font-family: 'hind-light';
}

@font-face {
    font-family: 'hind';
    src: url('../fonts/Hind-Regular.ttf');
}

@font-face {
    font-family: 'hind-medium';
    src: url('../fonts/Hind-Medium.ttf');
}

@font-face {
    font-family: 'hind-semibold';
    src: url('../fonts/Hind-SemiBold.ttf');
}

@font-face {
    font-family: 'hind-bold';
    src: url('../fonts/Hind-Bold.ttf');
}