.box-shadow {
    box-shadow: 0 0 0 rgba(179, 208, 214, 0.4);
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(179, 208, 214, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(179, 208, 214, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(179, 208, 214, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(179, 208, 214, 0.4);
        box-shadow: 0 0 0 0 rgba(179, 208, 214, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(179, 208, 214, 0);
        box-shadow: 0 0 0 20px rgba(179, 208, 214, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(179, 208, 214, 0);
        box-shadow: 0 0 0 0 rgba(179, 208, 214, 0);
    }
}

.box-shadow-light {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
    animation: pulseDark 2s infinite;
}

@-webkit-keyframes pulseDark {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes pulseDark {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}